html, body {
    height:100%; 
    font-family: "Roboto";
    font-size: 35px;
}
.erase, .edit {
    border-radius: 10%;
    border-style: none;
    background-color: #656a75;
}
.erase {
    margin-left: auto;
}
#projects {
    padding: 0;
}

#projects *{
    padding-left: 10px;
}

#projects li{
    list-style-position: inside;
}

#container {
    width: 1600px;
    height: 1000px;
    background-color: #7D8491;
    display: flex;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #EAF0CE;
}


#menu {
    width: 33%;
    background-color:  #C0C5C1;
    margin: 0;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tasks {
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

li:hover{
    background-color: #574B60;
}

li {
    transition: all .2s ease-in;
}

#home_content li{
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
}

#inputCheckout {
    display: inline-block;
    order: -1;
}

.description {
    position: absolute;
    background-color: bisque;
    padding: 20px;
    border-radius: 20px;
    transition: all .2s ease-in;
    z-index: -1;
}

.form{
    position: absolute;
    background-color: bisque;
    padding: 20px;
    border-radius: 20px;
    transition: all .2s ease-in;
}

.absolute{
    position: absolute;
}

.edit-div{
    display: flex;
    flex-direction: column;
    width: 800px;
    background-color: bisque;
}
 #edit-title{
    font-size: 30px;
    height: 50px;
 }
.descriptions{
    position: absolute;
    background-color: rgb(226, 204, 177);
    padding: 20px;
    border-radius: 20px;
    transition: all .2s ease-in;
    width: 600px;
}
.hidden {
    visibility: hidden;
    opacity: 0;
}

.visible {
    visibility: visible;
    opacity: 1;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#form > * {
    display: flex;
    justify-content: space-between;
}
#form > * > *:nth-child(2) { order: 2; width: 50%; }

.blurry{
    filter: blur(2px);
}

.not-blurry{
    filter: none;
    pointer-events: all;
}

#addNewTask{
    border-style: none;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 0;
    margin-top: 100px;
}
/* #checkbox {
    background-color: #813d3d;
	border: none;
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
    width: 30px;
} */

.css-checkbox { 
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    width: 1px; 
    margin: -1px; 
    padding: 0; 
    border: 0; 
}

.css-checkbox + label { 
    position: relative; 
    font-size: 14px; 
    cursor: pointer; 
    display: inline-flex; 
    align-items: center; 
    height: 31px; 
    color: rgb(0, 0, 0); 
}
.css-checkbox + label::before { 
    content: " "; 
    display: inline-block; 
    vertical-align: middle; 
    margin-right: 3px; 
    width: 31px; 
    height: 31px; 
    background-color: white; 
    border-width: 0px; 
    border-style: solid; 
    border-color: rgb(204, 204, 204); 
    border-radius: 50px; 
    box-shadow: rgba(42, 42, 42, 0.2) 0px 0px 3px 0px; 
}
.css-checkbox:checked + label::after { 
    content: " "; 
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjMDAwMDAwIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+"); background-repeat: no-repeat; background-size: 22px 22px; background-position: center center; position: absolute; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-left: 0px; 
    left: 0px; 
    top: 0px; 
    text-align: center; 
    background-color: transparent; 
    font-size: 10px; 
    height: 31px; 
    width: 31px; 
}

.notes {
    width: 66%;
    display: flex;
    padding-left: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.notes > * {
    display: flex;
    flex-direction: column;
    background-color: #5d3e74;
    width: 150px;
    height: fit-content;
    padding: 20px;
    gap: 10px;
}

.notes > * > * {
    margin: 0;
}